{% extends "index.html" %}
{% load staticfiles %}
{% load url from future %}

{% block breadcrumbs %}
	<li><a href="/inicio/index"><i class="icon-home"></i> Dashboard</a></li>
    <li class="active">Carga de Ordenes de Compra</li>
{% endblock breadcrumbs %}


{% block contenido %}
<div class="row-fluid">
    <div class="dgtic-panel">
        <div class="dgtic-message-fixed warning">
            <fieldset>
                <strong style="font-size:16px;">Identificador:</strong>
                <input type="text" id="txtIdentificador">
                <strong style="font-size:16px;">Nombre:</strong>
                <input type="text" id="txtNombre" style="width: 500px;"><br>
                <button id="btnProcess" style="width: 100px;">Guardar</button>
            </fieldset>                                   
        </div>
        <br>
        <div style="overflow-x:auto;">
            <table id="example" class="stripe hovers cell-border">
                <thead>
                    <tr>
                        <th width="100px">Identificador</th>           
                        <th width="400px">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Almacen in dbAlmacenes %}
                        <tr>
                            <td  data-reg="{{Almacen.id}}">{{Almacen.sub_inventario}}</td>
                            <td >{{Almacen.pdv}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block jquery %}

$(document).ready(function() {
    
    $("#btnProcess").click(function(){
        $.ajax({
            url: "/saveAlma/",
            type: "POST",
            data: { 'identificador': $("#txtIdentificador").val(), 'nombre': $("#txtNombre").val()},
            success: function (data) {
                if (data.estatus == 'NUEVO'){
                    $("#example").append('<tr><td data-reg=' + data.id + '>' + $("#txtIdentificador").val() + '</td><td width="400px">' + $("#txtNombre").val() + '</td></tr>');
                    alert('Almacen agregado satisfactoriamente.');
                    $("#txtIdentificador").val('');
                    $("#txtNombre").val('');
                } else {alert('Este almacen ya existe.');}
            }
        });

    }); 
  
});
// Fin Document Ready


{% endblock jquery %}